<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wq.myandroidtoolspro"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-sdk tools:overrideLibrary="android.support.graphics.drawable.animated,com.google.firebase,com.google.firebase.firebase_core,com.google.android.gms,com.google.android.gms.measurement,com.google.android.gms.tasks,com.google.android.gms.measurement.impl,com.google.android.gms.base,com.google.firebase.iid,com.google.firebase.crash,com.google.firebase.firebase_ads,com.google.android.gms.ads.impl,com.google.android.gms.ads,com.google.android.gms.clearcut"/>

    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API"/>

    <application
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            tools:remove="android:theme">
        </activity>
        <activity
            android:name=".MainDarkActivity"
            android:icon="@mipmap/ic_launcher"
            tools:remove="android:theme"
            tools:replace="android:icon">
        </activity>

        <receiver android:name=".AppInfoReceiver"
            tools:node="replace">
            <intent-filter>
                <action android:name="${applicationId}.SHOW_APP_INFO" />
            </intent-filter>
        </receiver>

<activity
    android:name=".ui.MainActivity"
    android:exported="true">
    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
</activity>

<receiver
    android:name=".receiver.MyReceiver"
    android:exported="false"/>
        
    </application>
</manifest>
